<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Users</h1>
    <p>Add a user</p>
    <form method="post" id="add-user-form" action="http://127.0.0.1:3000/users">
      <label for="name">Name</label>
      <input required id="name" type="text" name="name" />
      <label for="age">Age</label>
      <input required id="age" type="number" name="age" />
      <button type="submit">Add user</button>
    </form>
    <p>Filter users</p>
    <form id="filter-users">
      <label for="filter-by-name">Name</label>
      <input required id="filter-by-name" type="text" name="name" />
      <label for="filter-by-min-age">Min age</label>
      <input required id="filter-by-min-age" type="number" name="minAge" />
      <label for="filter-by-max-age">Max age</label>
      <input required id="filter-by-max-age" type="number" name="maxAge" />
      <button type="submit">Search user</button>
    </form>
  </body>
</html>
