<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>User Page</h1>
    <p>Name - <span id="user-name"></span></p>
    <p>Age - <span id="user-age"></span></p>
    <form id="form">
      <label for="name">Name</label>
      <input required id="name" type="text" name="name" />
      <label for="age">Age</label>
      <input required id="age" type="number" name="age" />
      <button type="submit">Update User</button>
    </form>
    <p>OR</p>
    <p><b>Update partially</b></p>
    <form id="patch-form">
      <label for="patch-name">Name</label>
      <input id="patch-name" />
      <label for="patch-age">Age</label>
      <input type="number" id="patch-age" />
      <button type="submit">Update User Partially</button>
    </form>
    <p><button type="button" id="delete-btn" onclick="">Delete user</button></p>
    <script>
      const form = document.getElementById("form");
      const patchForm = document.getElementById("patch-form");
      const userName = document.getElementById("user-name");
      const userAge = document.getElementById("user-age");
      const userPatchName = document.getElementById("patch-name");
      const userPatchAge = document.getElementById("patch-age");
      const deleteBtn = document.getElementById("delete-btn");
      const href = document.location.href.split("/");
      const id = href[href.length - 1];
      (async function fetchData() {
        try {
          const res = await fetch("/users/data/" + id);
          if (!res.ok) {
            document.body.innerText = "Failed to fetch data";
            return;
          }
          const data = await res.json();
          userName.innerHTML = data.name;
          userAge.innerHTML = data.age;
        } catch (err) {
          console.error(err);
          document.body.innerText = "Failed to fetch";
        }
      })();
      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const name = document.getElementById("name");
        const age = document.getElementById("age");
        const requestOptions = {
          method: "PUT", // Specify the request method
          headers: { "Content-Type": "application/json" }, // Specify the content type
          body: JSON.stringify({ name: name.value, age: +age.value }), // Send the data in JSON format
        };
        try {
          await fetch("/users/" + id, requestOptions);
          alert("User successfully updated");
          location.reload();
        } catch (err) {
          console.error(err.message);
          document.body.innerText = err.message;
        }
      });
      deleteBtn.addEventListener("click", async (e) => {
        e.preventDefault();
        try {
          const res = await fetch("/users/" + id, { method: "DELETE" });
          const data = await res.json();
          alert(data.message);
          location.href = "/users";
        } catch (err) {
          alert("Failed to delete");
        }
      });
      patchForm.addEventListener("submit", async (e) => {
        e.preventDefault();
        const data = {};
        if (userPatchName.value) {
          data.name = userPatchName.value;
        }
        if (userPatchAge.value) {
          data.age = +userPatchAge.value;
        }
        if (!Object.keys(data).length) {
          alert("Please fill out at least one input field");
          return;
        }
        const requestOptions = {
          method: "PATCH", // Specify the request method
          headers: { "Content-Type": "application/json" }, // Specify the content type
          body: JSON.stringify(data), // Send the data in JSON format
        };
        try {
          await fetch("/users/" + id, requestOptions);
          alert('User successfully updated')
          location.reload();
        } catch (err) {
          console.error(err.message);
          document.body.innerText = err.message;
        }
      });
    </script>
  </body>
</html>
